<template>
  <div class="w-full h-full">
    <Navbar></Navbar>
    <LearnerRecordsModal v-if="showModal"> </LearnerRecordsModal>
    <div class="w-full h-full rounded-lg">
      <router-view />
    </div>
  </div>
</template>

<script>
import Navbar from "../components/Navbar.vue";
import LearnerRecordsModal from "../components/LearnerRecordsModal.vue";
export default {
  name: "Dashboard",
  components: {
    Navbar,
    LearnerRecordsModal
  },
  computed: {
    showModal() {
      return this.$store.getters[
        "learnerRecordsDialog/learnerRecordsDialogGetter"
      ];
    }
  }
};
</script>

<style></style>
