<template>
  <div>
    <div class="flex flex-row flex-wrap h-screen">
      <div class="flew-col w-1/2 m-auto">
        <div class="mx-auto w-full h-full p-20">
          <button
            class="h-64
                   w-full
                   bg-transparent
                   hover:bg-blue-500
                   text-blue-700
                   font-semibold
                   hover:text-white
                   py-2
                   px-4
                   border
                   border-blue-500
                   hover:border-transparent
                   rounded"
            @click.prevent="goToLogin()"
          >
            Login
          </button>
        </div>
      </div>
      <div class="flex flew-col w-1/2 m-auto">
        <div class="mx-auto w-full h-full p-20">
          <button
            class="h-64
                   w-full
                   bg-transparent
                   hover:bg-green-500
                   text-green-700
                   font-semibold
                   hover:text-white
                   py-2
                   px-4
                   border
                   border-green-500
                   hover:border-transparent
                   rounded"
            @click.prevent="goToRegister()"
          >
            Register
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Home",
  methods: {
    goToLogin() {
      this.$router.push({ name: "Login" });
    },
    goToRegister() {
      this.$router.push({ name: "Register" });
    }
  }
};
</script>
