<template>
  <div class="flex align-middle h-screen">
    <div class="w-full max-w-xs mx-auto my-auto bg-gray-300 rounded-lg">
      <form class="rounded px-10 pt-6 pb-4 mb-4">
        <div class="mb-4">
          <label
            class="block text-gray-700 text-sm font-bold mb-2"
            for="username"
          >
            Username
          </label>
          <input
            v-model="email"
            class="shadow
                   appearance-none
                   border
                   rounded
                   w-full
                   py-2
                   px-3
                   text-gray-700
                   leading-tight
                   focus:outline-none
                   focus:shadow-outline"
            id="username"
            type="text"
            placeholder="Username"
          />
        </div>
        <div class="mb-6">
          <label
            class="block text-gray-700 text-sm font-bold mb-2"
            for="password"
          >
            Password
          </label>
          <input
            v-model="password"
            class="shadow
                   appearance-none
                   border
                   border-red-500
                   rounded
                   w-full
                   py-2
                   px-3
                   text-gray-700
                   mb-3
                   leading-tight
                   focus:outline-none
                   focus:shadow-outline"
            id="password"
            type="password"
            placeholder="******************"
          />
          <p class="text-red-500 text-xs italic">Please choose a password.</p>
        </div>
        <div class="flex items-center justify-between">
          <button
            class="bg-blue-500
                   hover:bg-blue-700
                   text-white
                   font-bold
                   py-2
                   px-4
                   rounded
                   focus:outline-none
                   focus:shadow-outline"
            @click.prevent="login()"
          >
            Sign In
          </button>
          <button
            class="inline-block
                   align-baseline
                   font-bold
                   text-sm
                   text-blue-500
                   hover:text-blue-800"
          >
            Forgot Password?
          </button>
        </div>
      </form>
      <p class="text-center text-gray-600 text-xs pb-6">
        &copy;Created by Wojciech Orzechowski
      </p>
    </div>
  </div>
</template>

<script>
import backendAPI from "@/axios/backendAPI";
export default {
  name: "Login",
  data() {
    return {
      email: "",
      password: ""
    };
  },
  methods: {
    login() {
      console.log("Login");
      backendAPI({
        url: "/sign_in",
        method: "post",
        data: {
          email: this.email,
          password: this.password
        }
      })
        .then(() => {
          this.$router.push({ name: "Dashboard" });
        })
        .catch(e => {
          console.log(e);
        });
    }
  }
};
</script>

<style></style>
