<template>
  <div class="flex align-middle h-screen">
    <div class="w-full max-w-xs mx-auto my-auto bg-gray-300 rounded-lg">
      <form class="rounded px-10 pt-6 pb-4 mb-4">
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
            Email
          </label>
          <input
            v-model="email"
            class="shadow
                   appearance-none
                   border
                   rounded
                   w-full
                   py-2
                   px-3
                   text-gray-700
                   leading-tight
                   focus:outline-none
                   focus:shadow-outline"
            id="email"
            type="text"
            placeholder="johndoe@decoded.com"
          />
        </div>
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
            Name
          </label>
          <input
            v-model="name"
            class="shadow
                   appearance-none
                   border
                   rounded
                   w-full
                   py-2
                   px-3
                   text-gray-700
                   leading-tight
                   focus:outline-none
                   focus:shadow-outline"
            id="name"
            type="text"
            placeholder="f.e. John Doe"
          />
        </div>
        <div class="mb-6">
          <label
            class="block text-gray-700 text-sm font-bold mb-2"
            for="password"
          >
            Password
          </label>
          <input
            v-model="password"
            class="shadow
                   appearance-none
                   border
                   border-red-500
                   rounded
                   w-full
                   py-2
                   px-3
                   text-gray-700
                   mb-3
                   leading-tight
                   focus:outline-none
                   focus:shadow-outline"
            id="password"
            type="password"
            placeholder="******************"
          />
          <p class="text-red-500 text-xs italic">Please choose a password.</p>
        </div>
        <div class="flex items-center justify-between">
          <button
            class="bg-blue-500
                   hover:bg-blue-700
                   text-white
                   font-bold
                   py-2
                   px-4
                   rounded
                   focus:outline-none
                   focus:shadow-outline"
            @click.prevent="register()"
          >
            Register
          </button>
        </div>
      </form>
      <p class="text-center text-gray-600 text-xs pb-6">
        &copy;Created by Wojciech Orzechowski
      </p>
    </div>
  </div>
</template>

<script>
import backendAPI from "@/axios/backendAPI";
export default {
  name: "Register",
  data() {
    return {
      email: "",
      name: "",
      password: ""
    };
  },
  methods: {
    register() {
      console.log("Register");
      backendAPI({
        url: "/users/",
        method: "post",
        data: {
          user: {
            email: this.email,
            name: this.name,
            password: this.password
          }
        }
      })
        .then(() => {
          this.$router.push({ name: "Login" });
        })
        .catch(e => {
          console.log(e);
        });
    }
  }
};
</script>

<style></style>
