<template>
  <v-dialog v-model="showDialog" max-width="500px" persistent>
    <v-card>
      <v-card-title>
        <span class="headline">Add a Requirement</span>
      </v-card-title>
      <v-card-text>
        <v-container>
          <v-row>
            <v-col cols="12" sm="12">
              <h3>
                {{ requirementModule.name }}
              </h3>
            </v-col>
            <v-col cols="12" sm="12">
              <v-select
                v-model="requirementSection"
                label="Section"
                :items="allSectonsForModule"
                item-text="name"
                return-object
              ></v-select>
            </v-col>
            <v-col cols="12" sm="12">
              <v-text-field
                v-model="requirementDescription"
                label="Requirement Description"
              >
              </v-text-field>
            </v-col>
          </v-row>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <div class="flex-grow-1"></div>
        <v-btn outlined rounded color="primary" @click="closeDialog()"
          >Cancel</v-btn
        >
        <v-btn outlined rounded color="primary" @click="addNewRequirement()"
          >Add</v-btn
        >
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import backendAPI from "@/axios/backendAPI";
export default {
  name: "AddRequirementDialog",
  data() {
    return {
      showDialog: true,
      requirementModule: "",
      requirementSection: "",
      requirementDescription: "",
      allSectonsForModule: []
    };
  },
  computed: {
    module: {
      get() {
        return this.$store.getters["MarkingScheme/moduleGetter"];
      }
    }
  },
  methods: {
    closeDialog() {
      this.$store.commit("MarkingScheme/hideAddRequirementDialog");
    },
    addNewRequirement() {
      console.log("Submitting the requirement!");
      this.closeDialog();
    },
    getAllSectionsForModule() {
      backendAPI({
        url: `/project_sections_for_module_id?module_id=${this.requirementModule.id}`,
        method: "get"
      })
        .then(res => {
          this.allSectonsForModule = res.data.data;
        })
        .catch(e => {
          console.log(e);
        });
    }
  },
  created() {
    this.requirementModule = this.module;
    this.getAllSectionsForModule();
  }
};
</script>

<style></style>
