<template>
  <v-card min-width="100%" min-height="300px" raised shaped class="pa-2 mb-10">
    <v-card-title>
      <v-card dense color="blue lighten-2" min-width="100%">
        <v-row align="center" justify="center" class="py-2">
          {{ cohortData.name }}
        </v-row>
      </v-card>
    </v-card-title>
  </v-card>
</template>

<script>
export default {
  props: ["cohortData"]
};
</script>

<style></style>
