<template>
  <v-row class="ma-0 pa-5 fill-height">
    <v-col>
      <CohortCard
        :cohortData="cohort"
        v-for="cohort in cohorts"
        :key="cohort.id"
      />
    </v-col>
  </v-row>
</template>

<script>
import CohortCard from "./CohortCard";
export default {
  components: {
    CohortCard
  },
  data() {
    return {
      cohorts: [
        { id: 1, name: "Demo 1" },
        { id: 2, name: "Demo 2" }
      ]
    };
  }
};
</script>

<style></style>
