<template>
  <div>
    <v-row class="mx-1 justify-center">
      <v-col cols="6" width="100%">
        <v-btn rounded outlined block @click="showRequirementDialog()"
          >Add a Requirement</v-btn
        >
      </v-col>
    </v-row>
    <v-row class="ma-1">
      <v-col cols="12">
        <v-text-field
          v-model="search"
          append-icon="search"
          label="Search"
          single-line
          hide-details
        ></v-text-field>
        <v-data-table
          :headers="headers"
          :items="tableData"
          :search="search"
          class="mt-3"
          multi-sort
        >
          <template v-slot:item.action="{ item }">
            <v-icon
              small
              class="mr-2"
              v-bind:color="decideColorDoneWell(item)"
              @click="toggleWellDone(item)"
            >
              star
            </v-icon>
            <v-icon
              small
              class="mr-2"
              v-bind:color="decideColorNeedsCorrections(item)"
              @click="toggleNeedsCorrections(item)"
              >star_half</v-icon
            >
            <v-icon small class="mr-2">delete</v-icon>
          </template>
        </v-data-table>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  name: "RequirementsTable",
  data() {
    return {
      search: "",
      headers: [
        {
          text: "Section",
          value: "section",
          align: "left",
          width: "10%"
        },
        {
          text: "Category",
          value: "category",
          align: "left",
          width: "10%"
        },
        {
          text: "Feedback",
          align: "left",
          filterable: true,
          value: "name"
        },
        {
          text: "Actions",
          value: "action",
          sortable: false
        }
      ],
      data: [
        {
          id: 1,
          name: "One",
          category: "Standard",
          section: "Business Case"
        },
        {
          id: 3,
          name: "Three",
          category: "Standard",
          section: "Business Case"
        },
        {
          id: 4,
          name: "Four",
          category: "Standard",
          section: "Business Case"
        },
        {
          id: 5,
          name: "Five",
          category: "Standard",
          section: "Business Case"
        },
        {
          id: 2,
          name: "Two",
          category: "Custom",
          section: "Conclusions"
        }
      ]
    };
  },
  computed: {
    tableData: {
      get() {
        return this.$store.getters["MarkingScheme/tableDataGetter"];
      }
    },
    selectedWellDone: {
      get() {
        return this.$store.getters["MarkingScheme/selectedWellDoneGetter"];
      },
      set(value) {
        this.$store.commit("MarkingScheme/setSelectedWellDoneMutation", value);
      }
    },
    selectedNeedsCorrections: {
      get() {
        return this.$store.getters[
          "MarkingScheme/selectedNeedsCorrectionsGetter"
        ];
      },
      set(value) {
        this.$store.commit(
          "MarkingScheme/setSelectedNeedsCorrectionsMutation",
          value
        );
      }
    }
  },
  methods: {
    toggleWellDone(item) {
      this.$store.commit("MarkingScheme/toggleSelectedWellDoneMutation", item);
    },
    toggleNeedsCorrections(item) {
      this.$store.commit("MarkingScheme/toggleNeedsCorrectionsMutation", item);
    },
    decideColorDoneWell(item) {
      const itemInSelectedWellDone = this.selectedWellDone.filter(
        tableItem => tableItem.id === item.id
      );
      if (itemInSelectedWellDone.length > 0) {
        return "green";
      } else {
        return "grey";
      }
    },
    decideColorNeedsCorrections(item) {
      const itemInSelectedNeedsCorrections = this.selectedNeedsCorrections.filter(
        tableItem => tableItem.id === item.id
      );
      if (itemInSelectedNeedsCorrections.length > 0) {
        return "red";
      } else {
        return "grey";
      }
    },
    showRequirementDialog() {
      this.$store.commit("MarkingScheme/showAddRequirementDialog");
    }
  },
  mounted() {
    // Set Table Data
    this.$store.commit("MarkingScheme/setTableDataMutation", this.data);
  }
};
</script>

<style></style>
