<template>
  <v-row justify="center" align="center" class="ma-1">
    <v-col cols="8">
      <h1 align="center" justify="center">
        DATA ACADEMY PROJECT FEEDBACK
      </h1>
    </v-col>
    <v-col cols="4" justify="center" align="center">
      <img
        src="https://brand-assets.decoded.com/logos/decoded_round_250px.png"
        class="logo"
        height="100px"
        width="100px"
      />
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: "Row1"
};
</script>

<style></style>
