<template>
  <div>
    <v-row justify="center" align="center" class="ma-1">
      <v-col cols="6">
        <v-select
          v-model="cohort"
          label="Cohort"
          :items="allCohorts"
          item-text="name"
          return-object
        >
        </v-select>
      </v-col>
      <v-col cols="6">
        <v-select
          v-model="learner"
          label="Learner"
          :items="allLearners"
          item-text="name"
          return-object
        ></v-select>
      </v-col>
    </v-row>
    <v-row justify="center" align="center" class="ma-1">
      <v-col cols="6">
        <v-text-field v-model="marker" label="Marker"></v-text-field>
      </v-col>
      <v-col cols="6">
        <v-select
          v-model="module"
          label="Module"
          :items="allModules"
          item-text="name"
          return-object
        ></v-select>
      </v-col>
    </v-row>
    <v-row justify="end" align="cemter" class="ma-1">
      <v-col cols="6">
        <v-select v-model="grade" label="Grade" :items="allGrades"></v-select>
      </v-col>
      <v-col cols="6">
        <v-text-field
          v-model="dateProjectMarked"
          label="Date Reviewed (DD/MM/YYYY)"
        ></v-text-field>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import backendAPI from "@/axios/backendAPI";
export default {
  name: "Row2",
  data() {
    return {
      allCohorts: [],
      allLearners: [],
      allModules: [],
      allGrades: ["Pass", "Merit", "Distinction"]
    };
  },
  computed: {
    cohort: {
      get() {
        return this.$store.getters["MarkingScheme/cohortGetter"];
      },
      set(value) {
        this.$store.commit("MarkingScheme/setCohortMutation", value);
      }
    },
    learner: {
      get() {
        return this.$store.getters["MarkingScheme/learnerGetter"];
      },
      set(value) {
        this.$store.commit("MarkingScheme/setLearnerMutation", value);
      }
    },
    module: {
      get() {
        return this.$store.getters["MarkingScheme/moduleGetter"];
      },
      set(value) {
        this.$store.commit("MarkingScheme/setModuleMutation", value);
      }
    },
    marker: {
      get() {
        return this.$store.getters["MarkingScheme/markerGetter"];
      },
      set(value) {
        this.$store.commit("MarkingScheme/setMarkerMutation", value);
      }
    },
    grade: {
      get() {
        return this.$store.getters["MarkingScheme/gradeGetter"];
      },
      set(value) {
        this.$store.commit("MarkingScheme/setGradeMutation", value);
      }
    },
    dateProjectMarked: {
      get() {
        return this.$store.getters["MarkingScheme/dateGetter"];
      },
      set(value) {
        this.$store.commit("MarkingScheme/setDateMutation", value);
      }
    }
  },
  watch: {
    cohort() {
      this.getAllLearnersForCohortId();
    }
  },
  methods: {
    getDateToday() {
      // By default set the date to today in format YYYY-MM-DD
      var today = new Date();
      var dd = today.getDate();
      var mm = today.getMonth() + 1; //January is 0!

      var yyyy = today.getFullYear();
      if (dd < 10) {
        dd = "0" + dd;
      }
      if (mm < 10) {
        mm = "0" + mm;
      }
      var dateToday = dd + "/" + mm + "/" + yyyy;
      return dateToday;
    },
    getAllCohorts() {
      backendAPI({
        url: "/cohorts",
        method: "get"
      })
        .then(res => {
          this.allCohorts = res.data.data;
        })
        .catch(e => {
          console.log(e);
        });
    },
    getAllLearnersForCohortId() {
      this.learner = "";
      if (this.cohort.id == null) {
        this.allLearners = [];
      } else {
        backendAPI({
          url: `/learners_for_cohort_id?cohort_id=${this.cohort.id}`,
          method: "get"
        })
          .then(res => {
            this.allLearners = res.data.data;
          })
          .catch(e => {
            console.log(e);
          });
      }
    },
    getAllModules() {
      backendAPI({
        url: "/modules",
        method: "get"
      })
        .then(res => {
          this.allModules = res.data.data;
        })
        .catch(e => {
          console.log(e);
        });
    }
  },
  created() {
    this.$store.commit("MarkingScheme/setDateMutation", this.getDateToday());
    this.getAllCohorts();
    this.getAllModules();
  }
};
</script>

<style></style>
