<template>
  <v-row class="ma-1">
    <v-col cols="12">
      <v-textarea
        v-model="comments"
        auto-grow
        outlined
        name="Comments"
        label="Comments"
      >
      </v-textarea>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: "Row3",
  computed: {
    comments: {
      get() {
        return this.$store.getters["MarkingScheme/commentsGetter"];
      },
      set(value) {
        this.$store.commit("MarkingScheme/setCommentsMutation", value);
      }
    }
  }
};
</script>

<style></style>
