<template>
  <v-row class="ma-1">
    <v-col cols="12">
      <v-card>
        <v-card-title class="justify-center">
          <h3>Requirements</h3>
        </v-card-title>
        <div v-for="section in sectionsForModule" :key="section.id">
          <h4 class="pl-4 pt-2">{{ section.name }}</h4>
          <v-data-table
            :headers="headers"
            :items="getItemsForSection(section)"
            no-data-text="No feedback for this section"
            class="mt-3"
            hide-default-footer
            :disable-pagination="true"
            dense
          >
            <template v-slot:item.selection="{ item }">
              <v-icon
                class="mr-2"
                v-if="selectedWellDone.includes(item)"
                v-bind:color="chooseGreen()"
              >
                star
              </v-icon>
              <v-icon v-else class="mr-2" v-bind:color="chooseRed()">
                star_half
              </v-icon>
            </template>
          </v-data-table>
        </div>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: "SignTable",
  data() {
    return {
      headers: [
        {
          text: "",
          align: "center",
          value: "selection",
          sortable: false,
          width: "20%",
          divider: true
        },
        {
          text: "Feedback",
          align: "left",
          value: "name",
          sortable: false
        }
      ],
      sectionsForModule: [
        { id: 1, name: "Business Case" },
        { id: 2, name: "Exploration" },
        { id: 3, name: "Conclusions" }
      ],
      selectedTableData: []
    };
  },
  computed: {
    tableData: {
      get() {
        return this.$store.getters["MarkingScheme/tableDataGetter"];
      }
    },
    selectedWellDone: {
      get() {
        return this.$store.getters["MarkingScheme/selectedWellDoneGetter"];
      },
      set(value) {
        this.$store.commit("MarkingScheme/setSelectedWellDoneMutation", value);
      }
    },
    selectedNeedsCorrections: {
      get() {
        return this.$store.getters[
          "MarkingScheme/selectedNeedsCorrectionsGetter"
        ];
      },
      set(value) {
        this.$store.commit(
          "MarkingScheme/setSelectedNeedsCorrectionsMutation",
          value
        );
      }
    }
  },
  methods: {
    getSelectedTableData() {
      this.selectedTableData = this.selectedWellDone.concat(
        this.selectedNeedsCorrections
      );
    },
    getItemsForSection(section) {
      return this.selectedTableData.filter(
        item => item.section == section.name
      );
    },
    chooseGreen() {
      return "green";
    },
    chooseRed() {
      return "red";
    }
  },
  created() {
    this.getSelectedTableData();
  }
};
</script>

<style></style>
