<template>
  <v-container fluid fill-height>
    <v-layout align-center justify-center>
      <v-flex>
        <v-row justify="center" wrap>
          <v-col sm-12 md-6 class="justify-center">
            <v-btn
              block
              color="success"
              outlined
              min-height="200px"
              class="px-10"
              @click="goToLogin()"
              >Login</v-btn
            >
          </v-col>
          <v-col sm-12 md-6 class="justify-center">
            <v-btn
              block
              color="primary"
              outlined
              min-height="200px"
              class="px-10"
              >Register</v-btn
            >
          </v-col>
        </v-row>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  name: "Home",
  methods: {
    goToLogin() {
      this.$router.push({ name: "login" });
    }
  }
};
</script>
