<template>
  <div style="height: 100%;">
    <NavigationDrawer></NavigationDrawer>
    <AppBar></AppBar>
    <v-content style="height: 100%;">
      <v-flex style="height: 100%; width: 100%;">
        <router-view></router-view>
      </v-flex>
    </v-content>
    <MyDialog></MyDialog>
  </div>
</template>

<script>
import NavigationDrawer from "../components/NavigationDrawer";
import AppBar from "../components/AppBar";
import MyDialog from "../components/MyDialog";
export default {
  components: {
    NavigationDrawer,
    AppBar,
    MyDialog
  }
};
</script>
