<template>
  <div class="pa-5">
    <v-card width="100%" class="">
      <AddRequirementDialog v-if="dialog"></AddRequirementDialog>
      <Row1></Row1>
      <Row2></Row2>
      <Row3></Row3>
      <RequirementsTable v-if="mode === 'marking'"></RequirementsTable>
      <PreSignTable v-else-if="mode === 'pre-sign'"></PreSignTable>
      <v-row class="ma-1">
        <v-col cols="6" align="center">
          <v-btn rounded @click="goPreviousStep()" outlined width="100%"
            >Previous</v-btn
          >
        </v-col>
        <v-col v-if="mode !== 'pre-sign'" cols="6" align="center">
          <v-btn rounded @click="goNextStep()" outlined width="100%"
            >Next</v-btn
          >
        </v-col>
        <v-col v-else cols="6" align="center">
          <v-btn rounded @click="generate()" outlined width="100%"
            >Generate</v-btn
          >
        </v-col>
      </v-row>
    </v-card>
  </div>
</template>

<script>
import Row1 from "@/components/Row1.vue";
import Row2 from "@/components/Row2.vue";
import Row3 from "@/components/Row3.vue";
import RequirementsTable from "@/components/RequirementsTable.vue";
import PreSignTable from "@/components/PreSignTable.vue";
import AddRequirementDialog from "@/components/AddRequirementDialog.vue";

export default {
  name: "MarkingScheme",
  components: {
    Row1,
    Row2,
    Row3,
    RequirementsTable,
    PreSignTable,
    AddRequirementDialog
  },
  data() {
    return {
      decodedLogo: require("../../public/decoded_logo.jpeg")
    };
  },
  computed: {
    mode: {
      get() {
        return this.$store.getters["MarkingScheme/modeGetter"];
      },
      set(value) {
        this.$store.commit("MarkingScheme/setModeMutation", value);
      }
    },
    dialog: {
      get() {
        return this.$store.getters[
          "MarkingScheme/showAddRequirementDialogGetter"
        ];
      }
    }
  },
  methods: {
    goNextStep() {
      console.log(
        "Marking Scheme:",
        this.$store.getters["MarkingScheme/markingSchemeGetter"]
      );
      if (this.mode === "marking") {
        this.$store.commit("MarkingScheme/setModeMutation", "pre-sign");
      }
    },
    goPreviousStep() {
      console.log(
        "Marking Scheme:",
        this.$store.getters["MarkingScheme/markingSchemeGetter"]
      );
      if (this.mode === "pre-sign") {
        this.$store.commit("MarkingScheme/setModeMutation", "marking");
      }
    },
    saveDataToLocalStorage() {
      const learner = this.$store.getters["MarkingScheme/learnerGetter"];
      localStorage.setItem("learner", learner);

      const academyModule = this.$store.getters["MarkingScheme/moduleGetter"];
      localStorage.setItem("module", academyModule);

      const marker = this.$store.getters["MarkingScheme/markerGetter"];
      localStorage.setItem("marker", marker);

      const grade = this.$store.getters["MarkingScheme/gradeGetter"];
      localStorage.setItem("grade", grade);

      const dateProjectMarked = this.$store.getters["MarkingScheme/dateGetter"];
      localStorage.setItem("dateProjectMarked", dateProjectMarked);

      const comments = this.$store.getters["MarkingScheme/commentsGetter"];
      localStorage.setItem("comments", comments);

      const selectedWellDone = this.$store.getters[
        "MarkingScheme/selectedWellDoneGetter"
      ];
      localStorage.setItem(
        "selectedWellDone",
        JSON.stringify(selectedWellDone)
      );

      const selectedNeedsCorrections = this.$store.getters[
        "MarkingScheme/selectedNeedsCorrectionsGetter"
      ];
      localStorage.setItem(
        "selectedNeedsCorrections",
        JSON.stringify(selectedNeedsCorrections)
      );
    },
    generate() {
      this.saveDataToLocalStorage();
      let route = this.$router.resolve({ name: "renderedMarkingScheme" });
      window.open(route.href, "_blank");
    }
  }
};
</script>

<style></style>
