<template>
  <div class="pa-5">
    <v-card width="100%">
      <Row1></Row1>
      <Row2></Row2>
      <Row3></Row3>
      <SignTable></SignTable>
    </v-card>
  </div>
</template>

<script>
import Row1 from "@/components/Row1.vue";
import Row2 from "@/components/Row2.vue";
import Row3 from "@/components/Row3.vue";
import SignTable from "@/components/SignTable.vue";

export default {
  name: "RenderedMarkingScheme",
  components: {
    Row1,
    Row2,
    Row3,
    SignTable
  },
  data() {
    return {
      decodedLogo: require("../../public/decoded_logo.jpeg")
    };
  },
  created() {
    const learner = localStorage.getItem("learner");
    if (learner) {
      this.$store.commit("MarkingScheme/setLearnerMutation", learner);
    }

    const academyModule = localStorage.getItem("module");
    if (academyModule) {
      this.$store.commit("MarkingScheme/setModuleMutation", academyModule);
    }

    const marker = localStorage.getItem("marker");
    if (marker) {
      this.$store.commit("MarkingScheme/setMarkerMutation", marker);
    }

    const grade = localStorage.getItem("grade");
    if (grade) {
      this.$store.commit("MarkingScheme/setGradeMutation", grade);
    }

    const comments = localStorage.getItem("comments");
    if (comments) {
      this.$store.commit("MarkingScheme/setCommentsMutation", comments);
    }

    const selectedWellDone = localStorage.getItem("selectedWellDone");
    if (selectedWellDone) {
      this.$store.commit(
        "MarkingScheme/setSelectedWellDoneMutation",
        JSON.parse(selectedWellDone)
      );
    }

    console.log("selectedWellDone", JSON.parse(selectedWellDone));

    const selectedNeedsCorrections = localStorage.getItem(
      "selectedNeedsCorrections"
    );
    if (selectedNeedsCorrections) {
      this.$store.commit(
        "MarkingScheme/setSelectedNeedsCorrectionsMutation",
        JSON.parse(selectedNeedsCorrections)
      );
    }

    console.log(
      "selectedNeedsCorrections",
      JSON.parse(selectedNeedsCorrections)
    );
  }
};
</script>

<style></style>
