<template>
  <div class="pt-1 pb-3">
    <button
      class="mx-auto w-full active:outline-none"
      @click="showAddLearnerEventForm()"
    >
      <i
        class="material-icons
                    flex
                    justify-center
                    bg-transparent
                    rounded-full
                    border-2
                    hover:bg-blue-400
                    border-blue-400
                    hover:bg-white"
      >
        add_comment
      </i>
    </button>
  </div>
</template>

<script>
export default {
  methods: {
    showAddLearnerEventForm() {
      this.$store.commit(
        "learnerRecordsDialog/showAddLearnerEventFormMutation"
      );
    }
  }
};
</script>

<style></style>
