<template>
  <div class="pt-1 pb-1">
    <button
      class="py-1 mx-auto w-full active:outline-none"
      @click="closeModal()"
    >
      <i
        class="material-icons
                flex
                justify-center
                bg-transparent
                rounded-full
                border-2
                hover:bg-blue-400
                border-blue-400
                hover:bg-white"
      >
        highlight_off
      </i>
    </button>
  </div>
</template>

<script>
export default {
  name: "CloseModalButton",
  methods: {
    closeModal() {
      this.$store.commit(
        "learnerRecordsDialog/hideLearnerRecordsDialogMutation"
      );
    }
  }
};
</script>

<style></style>
