<template>
  <div class="pt-3">
    <div class="container px-10 bg-indigo-300 mx-auto rounded-lg">
      <div class="py-3">
        <h1 class="bg-orange-400 rounded-full w-32 text-center">
          {{ cohortData.name }}
        </h1>
      </div>
      <table class="text-left w-full">
        <thead class="bg-green-500 flex text-white w-full rounded-lg">
          <tr class="flex w-full">
            <th
              v-for="tableColumn in tableColumns"
              :key="tableColumn"
              class="p-2 m-2 w-1/4"
            >
              <span class="justify-center">{{ tableColumn }}</span>
            </th>
          </tr>
        </thead>
        <tbody
          class="bg-grey-light
               flex
               flex-col
               items-center
               overflow-y-scroll
               w-full
               mb-10"
          style="height: 50vh;"
        >
          <tr
            v-for="learner in learners"
            :key="learner.id"
            class="flex w-full rounded-lg bg-gray-200 text-sm"
          >
            <td class="px-2 py-1 m-2 w-1/4">
              <span class="justify-center">{{ learner.name }}</span>
            </td>
            <td class="px-2 py-1 m-2 w-1/4">
              <span class="justify-center">{{ learner.rag_status }}</span>
            </td>
            <td class="px-2 py-1 m-2 w-1/4">
              <span class="justify-center">{{ learner.name }}</span>
            </td>
            <td class="p-2 w-1/4 my-auto">
              <div class="flex px-2 py-1">
                <button
                  @click.prevent="openLearnerRecordsDialog(learner.id)"
                  class="mx-auto w-full"
                >
                  <i
                    class="material-icons
                          flex
                          justify-center
                          bg-transparent
                          rounded-full
                          border-2
                          hover:bg-blue-400
                          border-blue-400
                          hover:bg-white"
                  >
                    edit
                  </i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import backendAPI from "@/axios/backendAPI";
export default {
  name: "CohortTable",
  props: ["cohortData"],
  data() {
    return {
      tableColumns: ["Name", "RAG Status", "Last Interaction", "Actions"],
      learners: []
    };
  },
  methods: {
    openLearnerRecordsDialog(learnerId) {
      this.$store.commit(
        "learnerRecordsDialog/setLearnerIdMutation",
        learnerId
      );
      this.$store.commit(
        "learnerRecordsDialog/showLearnerRecordsDialogMutation"
      );
    },
    getLearnersForCohortId() {
      backendAPI({
        url: `/learners_for_cohort_id?cohort_id=${this.cohortData.id}`,
        method: "get"
      })
        .then(res => {
          this.learners = res.data.data;
        })
        .catch(e => {
          console.log(e);
        });
    }
  },
  created() {
    this.getLearnersForCohortId();
  }
};
</script>

<style></style>
