<template>
  <div class="pt-1 pb-3">
    <button
      class="mx-auto w-1/2 active:outline-none"
      @click="hideAddLearnerEventForm()"
    >
      <i
        class="material-icons
                    flex
                    justify-center
                    bg-transparent
                    rounded-full
                    border-2
                    hover:bg-blue-400
                    border-blue-400
                    hover:bg-white"
      >
        close
      </i>
    </button>
    <button
      class="mx-auto w-1/2 active:outline-none"
      @click="sendAddLearnerEventFormData()"
    >
      <i
        class="material-icons
                    flex
                    justify-center
                    bg-transparent
                    rounded-full
                    border-2
                    hover:bg-blue-400
                    border-blue-400
                    hover:bg-white"
      >
        send
      </i>
    </button>
  </div>
</template>

<script>
export default {
  methods: {
    hideAddLearnerEventForm() {
      this.$store.commit(
        "learnerRecordsDialog/hideAddLearnerEventFormMutation"
      );
    },
    sendAddLearnerEventFormData() {
      console.log("Sent!");
    }
  }
};
</script>

<style></style>
