<template>
  <div
    class="modal-mask fixed flex flex-col
             z-50 top-0 left-0 min-w-full
             h-full rounded-lg"
  >
    <div class="flex flex-col align-middle h-full py-2">
      <div
        class="flex flex-col bg-gray-300 w-3/4 h-full
                 mx-auto rounded-lg p-2"
      >
        <CloseModalButton />
        <AddLearnerEventButton
          v-if="!addLearnerEventForm"
        ></AddLearnerEventButton>
        <HideAddLearnerEventButton v-if="addLearnerEventForm">
        </HideAddLearnerEventButton>
        <div
          v-if="addLearnerEventForm"
          class="bg-gray-400 rounded-full h-32 flex mb-3"
        ></div>
        <LearnerRecordsBasicInfo :learnerData="learnerData" />
        <LearnerRecordsTable />
      </div>
    </div>
  </div>
</template>

<script>
import backendAPI from "@/axios/backendAPI";

import CloseModalButton from "./CloseModalButton.vue";
import AddLearnerEventButton from "./AddLearnerEventButton.vue";
import HideAddLearnerEventButton from "./HideAddLearnerEventButton.vue";
import LearnerRecordsTable from "./LearnerRecordsTable.vue";
import LearnerRecordsBasicInfo from "./LearnerRecordsBasicInfo.vue";

export default {
  name: "LearnerRecordsModal",
  components: {
    CloseModalButton,
    AddLearnerEventButton,
    HideAddLearnerEventButton,
    LearnerRecordsTable,
    LearnerRecordsBasicInfo
  },
  data() {
    return {
      learnerData: {},
      learnerInteractions: []
    };
  },
  computed: {
    learnerId() {
      return this.$store.getters["learnerRecordsDialog/learnerIdGetter"];
    },
    addLearnerEventForm() {
      return this.$store.getters[
        "learnerRecordsDialog/addLearnerEventFormGetter"
      ];
    }
  },
  methods: {
    getLearnerData() {
      backendAPI({
        url: `/learners/${this.learnerId}`,
        method: "get"
      })
        .then(res => {
          this.learnerData = res.data.data;
        })
        .catch(e => {
          console.log(e);
        });
    }
  },
  created() {
    this.getLearnerData();
    this.$store.commit("learnerRecordsDialog/hideAddLearnerEventFormMutation");
  }
};
</script>

<style>
.modal-mask {
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.2s ease;
}
</style>
