<template>
  <div class="h-full mx-auto pb-3">
    <CohortTable
      v-for="cohort in cohorts"
      :key="cohort.id"
      :cohortData="cohort"
    >
    </CohortTable>
  </div>
</template>

<script>
import backendAPI from "@/axios/backendAPI";
import CohortTable from "./CohortTable.vue";
export default {
  name: "LearnersDashboard",
  components: {
    CohortTable
  },
  data() {
    return {
      cohorts: []
    };
  },
  methods: {
    getCohortsForUserSubscriptions() {
      backendAPI({
        url: "/cohorts_users_subscribed_to?user_id=1",
        method: "get"
      })
        .then(res => {
          this.cohorts = res.data.data;
        })
        .catch(e => {
          console.log(e);
        });
    }
  },
  created() {
    this.getCohortsForUserSubscriptions();
  }
};
</script>

<style></style>
