<template>
  <div
    class="bg-gray-400
                   h-full
                   rounded-lg
                   overflow-y-scroll"
  ></div>
</template>

<script>
export default {
  name: "LearnerRecordsTable"
};
</script>

<style></style>
