<template>
  <div class="bg-gray-400 rounded-lg h-10 mb-3 flex">
    <div
      class="flex flex-col w-1/3 h-full bg-transparent rounded-tl-lg rounded-bl-lg"
    >
      <span class="m-auto text-lg py-1">{{ learnerData.name }}</span>
    </div>
    <div class="flex flex-col w-1/3 h-full bg-orange-400"></div>
    <div
      class="flex flex-col w-1/3 h-full bg-red-600 rounded-tr-lg rounded-br-lg"
    ></div>
  </div>
</template>

<script>
export default {
  name: "LearnerRecordsBasicInfo",
  props: ["learnerData"]
};
</script>

<style></style>
