<template>
  <nav class="bg-white px-8 py-2 shadow-md">
    <div class="flex justify-center">
      <button
        v-for="navbarElement in navbarElements"
        :key="navbarElement.id"
        @click="goToRoute(navbarElement)"
        class="bg-transparent
               text-teal-dark
               tracking-wide
               font-bold
               text-xs
               text-center
               py-3
               mr-8
               rounded-lg
               w-32
               border-2
               hover:bg-blue-400
               border-blue-400
               hover:bg-white"
      >
        <span>{{ navbarElement.text }}</span>
      </button>
    </div>
  </nav>
</template>

<script>
export default {
  name: "Navbar",
  data() {
    return {
      navbarElements: [
        {
          id: 1,
          text: "Dashboard",
          routeName: "Dashboard"
        },
        {
          id: 2,
          text: "Marking Scheme",
          routeName: "Home",
          openInNewWindow: true
        },
        {
          id: 3,
          text: "Issues",
          routeName: "Home"
        },
        {
          id: 4,
          text: "Logout",
          routeName: "Home"
        }
      ]
    };
  },
  methods: {
    goToRoute(navbarElement) {
      if (navbarElement.openInNewWindow) {
        let route = this.$router.resolve({ name: navbarElement.routeName });
        window.open(route.href, "_blank");
      } else {
        this.$router.push({ name: navbarElement.routeName });
      }
    }
  }
};
</script>

<style></style>
